/* .my-drop-zone { border: dotted 3px #007cbb; } */
.nv-file-over { border: solid 5px #007cbb; min-height: 500px } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

.table td { vertical-align: inherit;}

.clr-icon {
    &.clr-cloud-logo {
        background-image: url(../../images/cloud.svg);
        height: 124px;
        width: 200px;
        margin: 40px;
    }
  }