<p>
  revit-converter works!
</p>
<button type="button" class="btn btn-success btn-xs" (click)="DeleteBuckets()">Delete Buckets</button>


<div class="row">
  <div class="col-md-3">

    <h3>Select files</h3>

    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      class="well my-drop-zone">
      Base drop zone
    </div>

    Multiple
    <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    <br/>

  </div>
</div>
<div class="row">
  <div class="col-md-12" style="margin-bottom: 40px" *ngIf="uploader.queue.length != 0">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <!-- <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td> -->
          <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <!-- <td *ngIf="uploader.isHTML5"> data-displayval="{{item.progress + '%'}}"-->
          <td>
            <div class="progress">
              <progress max="100" value="{{item.progress}}"></progress>
            </div>
          </td>
          <td nowrap>{{item?.formData?.status}}</td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length && authenticationForm.form.invalid">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>

  </div>

</div>

<div class="row">

</div>
